html,
body {
  height: 100%;
  background-color: #f8f8ff;
  color:#3B3C36;
}
a{
  color: #3B3C36;
  text-decoration:none;
}
a:hover{
  color: #3B3C36;
  text-decoration:none;
}
.headline-card-title:hover,.news-rows-card-title:hover{
  color:#ebc151;
}
.headline-card-img:hover,.news-rows-card-img:hover{
  filter: grayscale(100%);
}



.headline-card {
  border-radius: 0%;
  border-color: #3B3C36;
  /* max-height: 500px; */
  background-color: #f8f8ff;
  padding-left: 1px;
  padding-right: 1px;
}


.headline-card-title {
  font-weight: 700;
  font-size: 50px;
  font-family: "Inter";
}

.headline-card-text {
  font-size: 20px;
  font-family: "Noto Serif HK";
  font-weight: lighter;
  overflow: auto;

}

.headline-indicators {
  position: relative;
  /* need to fix */
  bottom: -45px;
  margin-left: auto;
  justify-content: left;
  z-index: 100;
}
.headline-indicators button {
  /* maybe something to be improve */
  height: 8px !important;
}
.news-rows-title{
    background-image: linear-gradient(to bottom, white 60%, #EBC151 30%) ;
    /* background img rounded */
    border-radius: 10%;
    font-family: "Noto Serif HK";
    font-size: 36px;
    font-weight:700;
}
.news-rows-card{
    /* height: 300px; */
    border-radius: 0%;
    border-color: #3B3C36;
    overflow: hidden;
    background-color: #f8f8ff;
}
.news-rows-card-img{
  width: 550px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: 0px -100px ;
}

.news-rows-card-title{
    font-family: "Inter";
    font-size: 24px;
    font-weight:bold;
}
.news-rows-card-text{
    font-family: "Noto Serif HK";
    font-size: 20px;
    font-weight:lighter;
}
.news-rows-card-control-next{
  visibility: hidden;
}
.news-rows-card-control-prev{
  visibility: hidden;
}

/* media query for bigger than tablet */
@media (min-width: 768px) { 
  .headline-card {
    border:none;
    height: 500px;
  }
  /* .headline-card-img {
    height: 500px ;
    width: 500px;
    object-fit: contain;
  } */
  .headline-card-text {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7    
  
  }
  .news-rows-card-img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: -100px  ;
  }
  .news-rows-card-text{
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5  
  }

  .news-rows-card-control-prev{
    visibility: visible;
    left: -100px;
  }
  
  .news-rows-card-control-next{
    visibility: visible;
    right: -100px;
  }
}

